{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="mx-auto p-3" id="message">
    <div class="breadcrumb mx-auto text-start" style="width: 25rem; background-color: white">
    <h4 class="text-center mx-auto" style="text-overflow:auto">
        {% if request.user.is_authenticated%}
        Welcome {{ request.user }}!
        {% else %}
        Not logged in
        {% endif %}
    </h4>
    </div>
</div>


<div class="container p-3 mx-auto" id="create-post-view">
    {% if user.is_authenticated %}
     <h4 class="text-center p-3">What's on your mind {{ request.user }}?</h4> 
    {% endif %}
     <h4 class="text-center"> Please share</h4>
<div class="d-lg-block"> 
    <form id="post-form">
    <div class=" p-1 card mx-auto containerColor" style="width: 25rem; height:25rem">
     
   
       
            <div class=" card-body p-2 mx-auto" style="width:24rem; height:25 rem">
                <textarea id="post-text" class="form-control w-100 p-3" style="d-flex justify-content-center width: 23rem; height:20rem; resize:none; overflow:auto"></textarea>
            </div>   
       <div style="width:24rem" class="p-2 btn-group mx-auto" data-toggle="buttons">
                <input id="post-btn" type="button" class="btn btn-outline-secondary buttonColor" value="Post">
           <!---
                <input id="img-btn" type="button" class="btn btn-outline-primary buttonColor" value="Image">
            --->
            </div>
    
    
    </div>
    </form>
</div>
</div>

<div class="container p-3 mx-auto" id="edit-post-view" value="">
    {% if user.is_authenticated %}
     <h4 class="text-center p-3">What's on your mind {{ request.user }}?</h4> 
    {% endif %}
     <h4 class="text-center"> Please share</h4>
<div class="d-lg-block"> 
    <form id="post-form">
    <div class=" p-1 card mx-auto containerColor" style="width: 25rem; height:25rem">
     
   
       
            <div class=" card-body p-2 mx-auto" style="width:24rem; height:25 rem">
                <textarea id="edit-post-text" class="form-control w-100 p-3" style="d-flex justify-content-center width: 23rem; height:20rem; resize:none; overflow:auto"></textarea>
            </div>   
       <div style="width:24rem" class="p-2 btn-group mx-auto" data-toggle="buttons">
                <input id="edit-post-btn" type="button" class="btn btn-outline-secondary buttonColor" value="Edit" onclick="save_edit_post()">
           <!---
                <input id="img-btn" type="button" class="btn btn-outline-primary buttonColor" value="Image">
            --->
            </div>
    
    
    </div>
    </form>
</div>
</div>

<div id="profile-view" class="breadcrumb mx-auto" style="width: 25rem; background-color: white">
    
    {{ profile_name }}
    <h1 id="profile_name"></h1>
    <ul id="profile_stats" class="list-group-flush">
        <li class="list-group-item" id="followingcount"></li>
        <li class="list-group-item" id="followerscount"></li>
        
    </ul>
</div>


<div class="container p-3 mx-auto" id="index-view"></div>

<div class="d-flex justify-content-center" style="overflow:auto">
    
    <nav id="pagination" class="p-3" aria-label="Page navigation example">
    
        <ul id="paginationlist" class="pagination">
      
        </ul>
    
    </nav>
</div>
{% endblock %}

