{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    </head>
    <body>
        <!--- help to find out if user is logged in and find URL --->
        {{ request.user.id|json_script:"user_id" }}
        <script type=text/javascript>
var a = "{% url 'login' %}" </script>
        
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Twitter</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="{{user.username}}" onclick="profilepageown(this.id)" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}" id="nav-all-posts">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                        <a class="nav-link" href='#' id="nav-create-post" >Create Post</a>
                    </li>
                    <li class="nav-item">
                    
                            <a class="nav-link" href="#" name ="following" id="nav-following">Following</a>
                        
                    </li>
                  {% endif %}
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        {% block script %}
        {% if user.is_authenticated %}
    <script src="{% static 'network/createpost.js' %}"></script>
        {% endif %}
    <script src="{% static 'network/pagination.js' %}"></script>
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/interact.js' %}"></script>
    <script src="{% static 'network/clickHandler.js'%}"></script>
    <script src="{% static 'network/profilepage.js'%}"></script>
    <script src="{% static 'network/profilepageown.js'%}"></script>
    <script src="{% static 'network/editpost.js'%}"></script>
    
    {% endblock %}
    </body>
    

</html>
